.SortMenu-container {
  width: 100%;
  background-color: rgb(218, 218, 248);
  box-shadow: inset rgba(0, 0, 0, 0.19) 0px 5px 10px,
    rgba(0, 0, 0, 0.2) 0px 4px 4px;
  color: black;
  height: 5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SortMenu {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-menu-buttons {
  display: flex;
  justify-content: space-between;
}

.SortMenu img {
  height: 2.5rem;
  border: 1px black solid;
  border-radius: 10px;
  cursor: pointer;
}
.SortMenu img:hover {
  background-color: rgb(248, 248, 253, 0.6);
}
