.Register {
  display: flex;
  justify-content: center;
}

.register-form {
  padding: 2rem 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 20px 20px 10px;
  border-radius: 10px;
  background-color: rgb(247, 246, 253);
}

.register-form > div {
  padding: 0.4rem;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-form > div {
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.register-form h2 {
  margin-top: 0;
}

.register-form input {
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  color: rgb(44, 44, 44);
  border: 1px black solid;
  width: 18rem;
  margin-left: 1rem;
  border: none;
  outline: 0.5px black solid;
}
.register-form input:focus {
  border: none;
  outline: 1px rgb(47, 47, 154) solid;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
}

.register-form .register-input-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-form span {
  font-size: 0.8rem;
  text-align: left;
  color: red;
  position: absolute;
  margin-bottom: 3rem;
  margin-left: 1rem;
}
